<div class="p-3 control-sidebar-content">
    <div class="image text-center">
        <img src="~/lib/admin-lte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <hr class="mb-2">
    <h6>Juan Luis Carrillo Garcia</h6>
    <hr class="mb-2">
    <p>user@@mail.com</p>
    <hr class="mb-2">
    <h5>Admin</h5>
    <hr class="mb-2">
    <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
            <a class="btn btn-light nav-link">
                <p>Salir</p>
            </a>
        </li>
    </ul>
</div>